img {
    border-radius: 50%;
    border: 8px solid #abd4ff;
}

.banner-text {
    background-color: #a6d1ff;
    opacity: 0;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.banner-text h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: black;
    line-height: 0.0;
}

.banner-text h2 {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: black;
    padding-top: 7px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.links i {
    /* color: white; */
    font-size: 3em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.links i:hover {
    color: #0047ff;
    transition: .5s color;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
