html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    /* background-image: linear-gradient(#C33764, #1D2671); */
    background-color: #78dbff;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 152px;
}

nav {
    position: -webkit-sticky;
    float: right;
    list-style: none;
    margin-top: 30px;
    height: 38px;
    width: 100%
}

nav li {
    display: block;
    float: right;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    transition: .3s background-color;
}

nav a:hover {
    background-color: white;
    color: #C33764;
}

nav a:active {
    background-color: white;
    color: #C33764;
}

.title {
    display: block;
    color: white;
    float: left;
    font-family: "Roboto", sans-serif;
    padding: 5px 20px;
}

img {
    border-radius: 50%;
    border: 8px solid #baedff;
}

.banner-text {
    background-color: black;
    opacity: 0.7;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.banner-text h1 {
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: white;
    line-height: 0.0;
}

.banner-text h2 {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 7px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.links i {
    color: white;
    font-size: 3em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.links i:hover {
    color: #C33764;
    transition: .3s color;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
