/* Source: https://medium.freecodecamp.org/how-to-create-a-timeline-component-with-react-1b216f23d3d4 */

*, :after, :before {
  box-sizing: border-box;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
  text-decoration: none;
}

.timeline-container::after {
  background-color: #e17b77;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  z-index: 1;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}
.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}
.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}
.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}
.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 300px;
    color: #5c5a5a;
}
.timeline-item-content a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #545454;
}

.timeline-item-content a:hover {
    text-decoration: underline;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}
.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}
.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

.timeline-header {
  padding: 0;
  padding-bottom: 30px;
}

.timeline-header h1 {
  font-size: 40px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: black;
  line-height: 0.0;
  text-align: center;
}

.timeline-header h2 {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: black;
  padding-top: 7px;
  text-align: center;
}
