/* Source: https://medium.freecodecamp.org/how-to-create-a-timeline-component-with-react-1b216f23d3d4 */
/* TODO: Adjust timeline for mobile screens */

*, :after, :before {
  box-sizing: border-box;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
  text-decoration: none;
}

.timeline-container::after {
  background-color: #e17b77;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  z-index: 1;
}

.timeline-header {
  padding: 0;
  padding-bottom: 30px;
}

.timeline-header h1 {
  font-size: 40px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: black;
  line-height: 0.0;
  text-align: center;
}

.timeline-header h2 {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: black;
  padding-top: 7px;
  text-align: center;
}
